:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --main-bgd-color: #ffffff;
  --additional-bgd-color: #F5F4FA;
  --footer-bgd-color: #2F303A;
  --icon-color: #AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--main-bgd-color);
  color: var(--text-color);
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #FFF5F6;
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 120px;
  }
}

.advantages__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin: 0 80px 0 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 132px;
    margin-right: 100px;
  }
}

.advantages__span {
  display: block;
  margin-bottom: 24px;
  font-family: "Titan One";
  font-size: 36px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}
@media screen and (min-width: 768px) {
  .advantages__span {
    margin-bottom: 13px;
    font-size: 48px;
    line-height: 1.16;
    text-transform: none;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__span {
    margin-bottom: 24px;
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages__item {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: #000000;
}
@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: calc((100% - 44px) / 3);
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    width: calc((100% - 264px) / 3);
    font-size: 16px;
  }
}
.advantages__item:first-child::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/images/milk_cup-1x.png);
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:first-child::before {
    background-image: url(/images/milk_cup_2x.png);
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item:first-child::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:first-child::before {
    margin-bottom: 40px;
  }
}
.advantages__item:nth-child(2n)::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/images/apple_bin_1x.png);
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(2n)::before {
    background-image: url(/images/apple-bin_2x.png);
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item:nth-child(2n)::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:nth-child(2n)::before {
    margin-bottom: 40px;
  }
}
.advantages__item:nth-child(3n)::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(/images/heart_1x.png);
  background-repeat: no-repeat;
  margin-bottom: 16px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__item:nth-child(3n)::before {
    background-image: url(/images/heart_2x.png);
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item:nth-child(3n)::before {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item:nth-child(3n)::before {
    margin-bottom: 40px;
  }
}/*# sourceMappingURL=main.css.map */